@use "sass:map";
@use "sass:math";
@import "../css/main.css";
@import "../css/normalize.css";
@import "../css/fonts.css";

$background-color: rgb(142, 216, 216);
$linkColorHover: #33cccc;
$mainColor1: #2b456b;
$mainColor2: #3a6289;
$contrastColor: #ffff;
$contrastColor2: #bacccb;
$linkColor: $contrastColor;
$padding: 40px;
$navbarWidth: 250px;
$logoWidthSm: 150px;
$logoWidthMd: 200px;
$burgerMenuWidthSm: $logoWidthSm * 0.5;
$burgerMenuWidthMd: $logoWidthMd * 0.5;
$burgerMenuHeightSm: $burgerMenuWidthSm;
$burgerMenuHeightMd: $burgerMenuWidthMd;
$burgerMenuHeightWithOpenNavSm: $burgerMenuHeightSm * 0.5;
$burgerMenuHeightWithOpenNavMd: $burgerMenuHeightMd * 0.5;
$burgerMenuWidthWithOpenNavSm: $burgerMenuWidthSm * 0.5;
$burgerMenuWidthWithOpenNavMd: $burgerMenuWidthMd * 0.5;
$positionNavbarCloseIconCenterSm: $navbarWidth * 0.5 -
  $burgerMenuWidthWithOpenNavSm * 0.5;
$positionNavbarCloseIconCenterMd: $navbarWidth * 0.5 -
  $burgerMenuWidthWithOpenNavMd * 0.5;

$screensize-list: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin rule-for-screensize($rule, $size) {
  #{$rule}: map.get($screensize-list, $size);
}

@mixin layout-for-screensize($size) {
  @media (min-width: map.get($screensize-list, $size)) {
    @content;
  }
}

@mixin padding($position: all, $value: $padding) {
  @if index($position, "top") {
    padding: $value + px $padding 0 $padding;
  } @else if index($position, "right") {
    padding: $padding $value + px 0 $padding;
  } @else if index($position, "bottom") {
    padding: $padding $padding $value + px $padding;
  } @else if index($position, "left") {
    padding: $padding $padding 0 $value + px;
  } @else {
    padding: $padding $padding 0 $padding;
  }
}

:root {
  --navbar-horizontal-position: flex-end;
  --navbar-vertical-position: start;
  --navbar-position: fixed;
  --display-header-text: none;
  --header-font-size: 14pt;
  --header-font-size-small: 10pt;
  --header-line-height: 30pt;
  --header-line-height-small: 20pt;
  --navbar-display-icon: flex;
  --navbar-width: #{$navbarWidth};
  --logo-width: #{$logoWidthSm};
  --burgerMenu-width: #{$burgerMenuWidthSm};
  --burgerMenu-height: #{$burgerMenuHeightSm};
  --burgerMenu-height-openNav: #{$burgerMenuHeightWithOpenNavSm};
  --burgerMenu-width-openNav: #{$burgerMenuWidthWithOpenNavSm};
  --navbar-position-CloseIcon-Center: #{$positionNavbarCloseIconCenterSm};
  --navbar-linkContainer-flex-direction: column;
  --navbar-linkContainer-height: 50vh;
  --navbar-background-color: #{$mainColor1};
  --hover-link-color: #{$linkColor};
  --hover-underline-link: 0;
  --hover-burgermenu-color: #{$contrastColor};
}

@include layout-for-screensize(md) {
  :root {
    --header-font-size: 22pt;
    --header-font-size-small: 15pt;
    --header-line-height: 42pt;
    --header-line-height-small: 28pt;
    --logo-width: #{$logoWidthMd};
    --burgerMenu-width: #{$burgerMenuWidthMd};
    --burgerMenu-height: #{$burgerMenuHeightMd};
    --burgerMenu-height-openNav: #{$burgerMenuHeightWithOpenNavMd};
    --burgerMenu-width-openNav: #{$burgerMenuWidthWithOpenNavMd};
    --navbar-position-CloseIcon-Center: #{$positionNavbarCloseIconCenterMd};
    --navbar-background-color: none;
    --navbar-linkContainer-flex-direction: row;
    --navbar-linkContainer-height: fit-content;
    --navbar-vertical-position: start;
    --navbar-position: static;
    --display-header-text: block;
    --navbar-display-icon: none;
    --navbar-width: fit-content;
    --navbar-height: auto;
  }
}

@media (pointer: coarse) {
  :root {
    --navbar-horizontal-position: flex-end;
    --navbar-vertical-position: start;
    --navbar-position: fixed;
    --navbar-display-icon: flex;
    --navbar-width: #{$navbarWidth};
    --navbar-linkContainer-flex-direction: column;
    --navbar-linkContainer-height: 50vh;
    --navbar-background-color: #{$mainColor1};
  }
}

@media (hover: hover) {
  :root {
    --hover-link-color: #{$linkColorHover};
    --hover-burgermenu-color: #{$linkColorHover};
    --hover-underline-link: 100%;
  }
}

body {
  font-family: "Louis_George_Cafe";
}

button {
  border: 0;
  background-color: transparent;
}
.header-grid
  .headerLogoWrapper
  + .CenterHeaderNav
  .headerNavContainer
  nav
  ul
  .linkLiElement {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16pt;
    transition: color 0.2s ease-in-out;
    color: $contrastColor;
    &:hover {
      color: var(--hover-link-color);
      .hoverBorder {
        width: var(--hover-underline-link);
      }
    }
  }
}

.hoverBorder {
  width: 0;
  height: 10px;
  background-color: $linkColorHover;
  transition: width 0.2s ease-in-out;
}

.drop-shadow {
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.3));
}
.pageheader {
  background-image: url(../img/test2_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
  }
  .pageHeaderWrapper {
    @include rule-for-screensize(max-width, xl);
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    .headMediumCaption {
      font-variant: small-caps;
      font-size: var(--header-font-size);
      line-height: var(--header-line-height);
      color: $contrastColor;
      letter-spacing: 1.5pt;
    }

    .headSmallCaption {
      font-size: var(--header-font-size-small);
      line-height: var(--header-line-height-small);
      color: $contrastColor;
      letter-spacing: 1pt;
      font-weight: 500;
    }
  }
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: var(--navbar-vertical-position);
  @include padding(left, 0);
  &.open {
    .CenterHeaderNav {
      .headerNavContainer {
        nav {
          right: 0;
          background-color: var(--navbar-background-color);
          + .burgerMenu {
            position: fixed;
            right: var(--navbar-position-CloseIcon-Center);
            height: var(--burgerMenu-height-openNav);
            width: var(--burgerMenu-width-openNav);
            justify-content: center;
            .line {
              margin: 0;
            }
            .line1 {
              transform: rotate(-45deg);
              width: 100%;
            }
            .line2 {
              opacity: 0;
              height: 0;
            }
            .line3 {
              opacity: 0;
              height: 0;
            }
            .line4 {
              transform: rotate(45deg);
              width: 100%;
            }
          }
        }
      }
    }
  }
  .headerLogoWrapper {
    grid-column: 1;
    display: flex;
    align-items: center;
    padding-left: $padding;
    .mainLogoLink {
      width: fit-content;
      height: min-content;
      &:hover {
        opacity: 1;
      }
      img {
        width: var(--logo-width);
      }
    }
    span {
      font-family: Louis_George_Cafe_Light;
      letter-spacing: 3px;
      font-style: italic;
    }
  }
  .CenterHeaderNav {
    display: flex;
    grid-column: 2;
    float: right;
    justify-content: flex-end;
    .headerNavContainer {
      display: grid;
      width: fit-content;
      height: fit-content;
      overflow: hidden;
      .burgerMenu {
        grid-column: 1;
        display: var(--navbar-display-icon);
        flex-direction: column;
        //justify-content: space-evenly;
        overflow: hidden;
        width: var(--burgerMenu-width);
        height: var(--burgerMenu-height);
        cursor: pointer;
        color: $contrastColor;
        transition: all 0.4s ease-out;
        .line {
          margin-bottom: 1rem;
        }
        &:hover .line {
          background-color: var(--hover-burgermenu-color);
        }
        .line {
          background-color: $contrastColor;
          height: 2px;
          transition: all 0.4s ease, opacity 0.2s, background-color 0.2s;
        }
        .line1 {
          width: 100%;
        }
        .line2 {
          width: 75%;
        }
        .line3 {
          width: 100%;
        }
        .line4 {
          width: 75%;
        }
      }
      nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: var(--navbar-position);
        top: 0;
        right: -$navbarWidth;
        width: var(--navbar-width);
        height: 100%;
        transition: all 0.4s ease-out;
        ul {
          display: flex;
          @supports (column-gap: 0.9rem) {
            column-gap: 0.9rem;
          }
          @supports not (column-gap: 0.9rem) {
            li {
              margin-right: 0.9rem;
            }
            li:last-child {
              margin-right: 0;
            }
          }
          flex-direction: var(--navbar-linkContainer-flex-direction);
          @supports (justify-content: space-evenly) {
            justify-content: space-evenly;
          }
          @supports not (justify-content: space-evenly) {
            li {
              margin-bottom: 25%;
            }
            li:last-child {
              margin-bottom: 0;
            }
          }

          width: 100%;
          height: var(--navbar-linkContainer-height);
        }
      }
    }
  }
}

.sectionResponsive {
  @include padding();
  background-color: $mainColor2;
  h1 {
    color: $contrastColor2;
  }
}
